/* 2500px ~ */
/* XL 4k TV */
@media only screen and (min-width: 2500px) {
  html {
    font-size: 70%;
  }

  .section-gallery li {
    flex-basis: 20%;
  }

  .img-hidden {
    display: none;
  }

  .img-phone {
    margin-right: 6%;
  }

  .card-plan {
    flex-basis: 25%;
  }
}

@media only screen and (min-width: 3200px) {
  html {
    font-size: 73%;
  }
}

@media only screen and (min-width: 3800px) {
  html {
    font-size: 77%;
  }

  .section-gallery li {
    flex-basis: calc(100% / 6);
  }

  .img-hidden:nth-of-type(6) {
    display: inline-block;
  }
}
/* 1920px */
/* Default Styles */

/* 1324px ~ 1728px */
/* L Mobile Large Laptop & Small Desktop */
@media only screen and (max-width: 1728px) {
  html {
    font-size: 60%;
  }
}

/* 848px ~ 1323px */
/* M Mobile Tablet Landscape & Small Laptop */
@media only screen and (max-width: 1323px) {
  html {
    font-size: 57%;
  }

  .nav {
    flex-basis: 45%;
  }
}

@media only screen and (max-width: 980px) {
  html {
    font-size: 53%;
  }

  .container {
    width: 90%;
  }
}

/* 403px ~ 847px */
/* S Mobile Landscape & Table Portrait */
@media only screen and (max-width: 847px) {
  html {
    font-size: 51%;
  }

  .form {
    width: 62%;
  }
}

@media only screen and (max-width: 780px) {
  html {
    font-size: 49%;
  }

  .container {
    width: 80%;
  }

  .section-services ul,
  .section-cities > ul,
  .section-subscribe > ul {
    row-gap: 4rem;
  }

  .section-services li,
  .section-cities .margin-small > li {
    flex-basis: 45%;
  }

  .section-gallery li {
    flex-basis: calc(100% / 3);
    height: 21vw;
  }

  .img-hidden:nth-of-type(even) {
    display: none;
  }

  .img-phone {
    width: 24%;
  }

  .btn-download {
    height: 4rem;
  }

  .section-testimonials li {
    flex-basis: 100%;
  }

  .section-subscribe > ul {
    justify-content: center;
  }

  .card-plan {
    flex-basis: 51%;
  }

  .nav {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 670px) {
  html {
    font-size: 47%;
  }

  .container {
    width: 85%;
  }

  .section-gallery li {
    height: 22vw;
  }

  .section-testimonials li {
    padding: 0 5rem;
  }

  .form {
    width: 74%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 46%;
  }

  .btn-nav {
    display: block;
  }

  nav ul.flex-container {
    position: absolute;
    top: 13rem;
    right: 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 0;
    transition: 0.2s linear;
    overflow: hidden;
    gap: 1.5rem;
  }

  nav ul.show {
    height: 25rem;
  }

  .section-steps > div {
    justify-content: center;
    row-gap: 4rem;
  }

  .img-phone {
    margin-right: 0;
  }

  .steps {
    flex-basis: 78%;
  }

  .steps > li:last-of-type {
    justify-content: center;
  }

  footer > div.flex-container {
    flex-direction: column;
    gap: 2rem;
  }

  footer ul.flex-container {
    gap: 3rem;
  }

  .form textarea {
    height: 15rem;
  }
}

@media only screen and (max-width: 535px) {
  html {
    font-size: 43%;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 41%;
  }

  .section-gallery li {
    flex-basis: calc(100% / 2);
    height: 28vw;
  }

  .section-gallery li:nth-of-type(even) {
    display: none;
  }

  .section-testimonials li {
    padding: 0 1.2rem;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 39%;
  }

  hr + p {
    width: 78%;
  }

  .section-services ul,
  .section-cities ul {
    flex-direction: column;
    align-items: center;
  }

  .section-services li,
  .section-cities li {
    width: 70%;
  }

  .section-gallery li {
    height: 30vw;
  }

  .card-plan {
    flex-basis: 57%;
  }

  .form {
    width: 68%;
  }

  .form-row {
    row-gap: 1rem;
  }

  .form-row:not(:last-of-type) {
    margin-bottom: 3.2rem;
  }

  .form-input {
    flex-basis: 100%;
  }

  label[for="subscribe"] + div {
    width: 100%;
  }

  .form input[type="checkbox"] {
    vertical-align: -2px;
  }
}

/* 0 ~ 402px */
/* XS Mobile Portrait */
@media only screen and (max-width: 402px) {
  .card-plan {
    flex-basis: 60%;
  }

  .form {
    width: 71%;
  }

  footer ul.flex-container {
    gap: 4.5rem;
  }
}