/* -------------------------- */
/* General Styles */
/* -------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #333;
  font: 300 1.6rem "Lato", sans-serif;
}

/* -------------------------- */
/* Utility Styles */
/* -------------------------- */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  margin: auto;
  width: 65%;
  max-width: 2300px;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Heading Styles */
h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 300;
}

h2 {
  font-size: 3.5rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
  margin: 1.3rem 0;
}

h4 {
  font-size: 4.2rem;
  font-weight: 100;
  color: #e67e22;
  margin-bottom: 1.2rem;
}

ul {
  list-style: none;
}

.btn {
  border: solid #e67e22 1px;
  border-radius: 100px;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 2rem;
  transition: 0.3s linear;
}

.btn:hover {
  background-color: #cf6d17;
  border-color: #cf6d17;
  color: #fff;
}

.btn-orange {
  background-color: #e67e22;
}

.btn-transparent {
  color: #e67e22;
}

.btn-download {
  height: 4.5rem;
}

.btn-up {
  position: fixed;
  bottom: 10%;
  right: 5%;
  background-color: #666;
  padding: 1rem 1.4rem;
  border-radius: 2px;
}

.btn-up > i {
  color: #fff;
  font-size: 1.8rem;
}

.btn-submit {
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}

.btn-nav {
  background-color: transparent;
  border: none;
  display: none;
}

section:not(.section-gallery),
footer {
  padding: 6rem 0;
}

hr {
  border: none;
  height: 2px;
  background-color: #e67e22;
  width: 10%;
  margin: 3rem auto 0;
}

p,
label,
.form span {
  font-size: 1.8rem;
  line-height: 1.3;
}

.fa-solid {
  color: #e67e22;
}

.margin-xs {
  margin-top: 2.5rem;
}

.margin-small {
  margin-top: 5rem;
}

section:nth-of-type(3n) {
  background-color: #eee;
}

.features {
  justify-content: flex-start;
  gap: 1.5rem;
}

/* -------------------------- */
/* Header Styles */
/* -------------------------- */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/hero-min.jpg") center/cover;
  height: 100vh;
}

nav {
  padding-top: 3rem;
}

nav img {
  width: 10rem;
}

nav ul {
  gap: 3rem;
}

nav li {
  border-bottom: solid transparent;
  padding-bottom: 1rem;
  transition: 0.3s linear;
}

nav li:hover {
  border-bottom-color: #e67e22;
}

nav li > a {
  text-transform: uppercase;
  font-size: 1.7rem;
}

.fa-bars {
  color: #fff;
  font-size: 3.5rem;
}

.hero-box {
  margin-top: 20vh;
}

h1 {
  color: #fff;
  font-size: 4.3rem;
  margin-bottom: 1.5rem;
}

.hero-box .btn-orange {
  margin-right: 1.5rem;
}

/* -------------------------- */
/* Section Services Styles */
/* -------------------------- */
hr + p {
  width: 63%;
  max-width: 1050px;
  margin: 3rem auto 0;
}

.section-services ul {
  align-items: flex-start;
}

.section-services li {
  flex-basis: 23%;
}

.section-services .fa-solid {
  font-size: 5rem;
}

/* -------------------------- */
/* Section Gallery Styles */
/* -------------------------- */
.section-gallery ul {
  background-color: #000;
}

.section-gallery li {
  flex-basis: 25%;
  height: 18vw;
  overflow: hidden;
}

.section-gallery li:hover img {
  transform: scale(1);
  opacity: 1;
}

.section-gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
  transform: scale(1.2);
  transition: 0.2s linear;
}

/* -------------------------- */
/* Section Steps Styles */
/* -------------------------- */
.section-steps > div {
  justify-content: flex-end;
}

.img-phone {
  width: 16%;
  max-width: 250px;
  margin-right: 8%;
}

.steps {
  flex-basis: 46%;
}

.steps > li {
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 2rem;
}

.steps > li:not(:last-of-type) {
  margin-bottom: 4rem;
}

.steps-number {
  font-size: 3rem;
  border: solid #e67e22;
  color: #e67e22;
  border-radius: 100px;
  width: 5rem;
  height: 5rem;
  text-align: center;
  line-height: 4.5rem;
  flex-shrink: 0;
}

/* -------------------------- */
/* Section Cities Styles */
/* -------------------------- */
.section-cities ul {
  align-items: flex-start;
}

.section-cities .margin-small > li {
  flex-basis: 22%;
}

.img-cities {
  width: 100%;
}

.section-cities .features:not(:last-of-type) {
  margin-bottom: 0.8rem;
}

.section-cities i {
  font-size: 2rem;
  width: 2rem;
  text-align: center;
  color: #e67e22;
}

.section-cities a {
  color: #e67e22;
  border-bottom: solid #e67e22 1px;
  font-size: 1.8rem;
  transition: 0.2s linear;
}

.section-cities a:hover {
  color: #333;
  border-bottom-color: transparent;
}

/* -------------------------- */
/* Section Testimonials Styles */
/* -------------------------- */
.section-testimonials {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/back-customers-min.jpg") center/cover fixed;
  color: #fff;
}

.section-testimonials li {
  flex-basis: 31%;
  font-style: italic;
}

.section-testimonials p {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.section-testimonials img {
  width: 5rem;
  border-radius: 100px;
}

.section-testimonials span {
  font-size: 5rem;
  position: relative;
  left: -1.5rem;
  top: 2.4rem;
}

/* -------------------------- */
/* Section Subscribe Styles */
/* -------------------------- */
.card-plan {
  flex-basis: 30%;
}

.card-plan > div {
  background-color: #fcfcfc;
}

.card-plan > div:first-of-type {
  padding: 3rem 0 1.5rem 1.5rem;
  border-radius: 4px 4px 0 0;
}

.card-plan span {
  font-size: 2.5rem;
  font-weight: 300;
}

.card-plan > ul {
  background-color: #fff;
  padding: 1.5rem 0 1.5rem 1.5rem;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}

.card-plan li {
  font-size: 1.8rem;
}

.card-plan li:not(:last-of-type) {
  margin-bottom: 1.2rem;
}

.card-plan .fa-solid {
  font-size: 1.3rem;
  vertical-align: 1px;
  margin-right: 0.8rem;
}

.card-plan > div:last-of-type {
  text-align: center;
  padding: 1.5rem 0;
  border-radius: 0 0 4px 4px;
}

/* -------------------------- */
/* Section Contact Styles */
/* -------------------------- */
.form {
  width: 55%;
  max-width: 1500px;
  margin: 5rem auto 0;
}

.form-row {
  justify-content: flex-start;
}

.form-row:not(:last-of-type) {
  margin-bottom: 2rem;
}

.form label {
  flex-basis: 35%;
}

.form label[for="message"] {
  align-self: flex-start;
}

.form-input {
  flex-basis: 65%;
  padding: 1rem 0 1rem 1rem;
  border: none;
  border: solid #ccc 1px;
  border-radius: 4px;
}

.form-input::-webkit-input-placeholder {
  color: #ccc;
}

.form-input::-moz-placeholder {
  color: #ccc;
}

.form-input:-ms-input-placeholder {
  color: #ccc;
}

.form-input::-ms-input-placeholder {
  color: #ccc;
}

.form-input::placeholder {
  color: #ccc;
}

.form input[type="checkbox"] {
  margin-right: 0.5rem;
  vertical-align: -1px;
}

.form textarea {
  height: 10rem;
}

.form > div:last-of-type {
  text-align: center;
}

/* -------------------------- */
/* Footer Styles */
/* -------------------------- */
footer {
  background-color: #333;
}

.nav {
  flex-basis: 40%;
  max-width: 630px;
}

.nav a {
  font-size: 1.7rem;
  transition: 0.2s linear;
  opacity: 0.5;
}

.nav a:hover {
  opacity: 1;
}

.social {
  flex-basis: 15%;
  max-width: 200px;
}

.social .fa-brands {
  opacity: 0.5;
  transition: 0.2s linear;
}

.fa-facebook-f:hover {
  color: #1877f2;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-google-plus-g:hover {
  color: #db4437;
}

.fa-instagram:hover {
  color: #4c5fd7;
}

footer > p {
  color: #fff;
  opacity: 0.5;
  text-align: center;
  font-size: 1.5rem;
}
