/* -------------------------- */
/* Navigation Styles */
/* -------------------------- */

.navigation {
  &__mobile {
    color: $color-grey-dark;
    background-color: $color-white;
    width: 6rem;
    height: 6rem;
    font-size: 2.5rem;
    border-radius: 50px;
    position: fixed;
    right: 6.5rem;
    top: 6rem;
    text-align: center;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 1rem 3rem rgba($color-grey-dark, 0.3);
  }

  &__icon {
    position: relative;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-2;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }

    &.transparent {
      background-color: transparent;

      &::before {
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }

  &__list {
    position: fixed;
    top: 13rem;
    right: 5rem;
    z-index: 2;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s;
    background-color: rgba($color-primary, 0.8);

    &.show {
      max-height: 50rem;
    }
  }

  &__item {
    text-transform: uppercase;
    text-align: center;
    transition: 0.2s;

    &:hover .navigation__link {
      background-position: 100%;
      color: $color-primary;
    }
  }

  &__link {
    color: $color-white;
    word-spacing: 5px;
    font-size: 2.2rem;
    font-weight: 300;
    width: 30rem;
    transition: 0.2s;
    padding: 1rem 2rem;
    background-image: linear-gradient(
      120deg,
      transparent 50%,
      $color-white 50%
    );
    background-size: 220%;
  }
}

/* -------------------------- */
/* Header Styles */
/* -------------------------- */

.header {
  height: 95vh;
  @include background-setting("../img/hero-min.jpg");
  /* We use clip path property to create a clipping region */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path */
  /* This is not the same as background-clip, https://www.w3schools.com/cssref/css3_pr_background-clip.asp */
  /* clip path arguments references, https://bennettfeely.com/clippy/ */
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  &__logo {
    margin: 4rem;
    width: 8rem;
  }
}

// hero-box {
//   display: flex;
//   height: 60%;
//   justify-content: center;
//   align-items: center;
// }

.hero-box {
  @include absCenter;
  width: 100%;
  text-align: center;

  &__heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;

    span {
      display: inline-block;
    }

    &--main {
      font-size: 6rem;
      letter-spacing: 3.5rem;
      font-weight: 400;
      animation: slideInLeft 0.8s linear forwards;
    }

    &--sub {
      font-size: 2rem;
      letter-spacing: 1.74rem;
      font-weight: 700;
      animation: slideInRight 0.8s linear forwards;
    }
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* -------------------------- */
/* Section-about Styles */
/* -------------------------- */

.section-about {
  background-color: $color-grey-light-1;
  margin-top: -20vh;
}

.gallery {
  position: relative;

  &__photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba($color-grey-dark, 0.7);
    border-radius: 2px;
    position: absolute;
    transition: 0.2s;
    outline-offset: 1.5rem;

    &--1 {
      left: 4rem;
      top: -1rem;
    }

    &--2 {
      top: 3rem;
      right: 0;
    }

    &--3 {
      top: 11rem;
      left: 13rem;
    }

    &:hover {
      z-index: 1;
      transform: scale(1.1) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba($color-grey-dark, 0.6);
      // We use 'outline' and 'outline-offset' to make a distanced border from the image
      // https://www.w3schools.com/css/css_outline.asp
      outline: 1.5rem solid $color-primary;
    }
  }
}

/* -------------------------- */
/* Section-features Styles */
/* -------------------------- */

.section-features {
  @include background-setting("../img/nat-4-min.jpg");
  margin-top: -12vh;
  transform: skewY(-7deg);

  .container {
    // We skew to the other direction to compensate for the skewing the entire section to correct the box back
    transform: skewY(7deg);
  }
}

.feature-box {
  text-align: center;
  padding: 3rem;
  font-size: 1.5rem;
  border-radius: 3px;
  background-color: rgba($color-white, 0.8);
  box-shadow: 0 1.5rem 2rem rgba($color-grey-dark, 0.6);
  transition: 0.2s;

  &:not(:last-child) {
    margin-right: 5rem;
  }

  i {
    font-size: 6rem;
    margin-bottom: 2rem;
    @include heading-style;
  }

  &:hover {
    box-shadow: 0 2rem 3rem rgba($color-grey-dark, 0.5);
    transform: translateY(-1rem);
  }
}

/* -------------------------- */
/* Section-tours Styles */
/* -------------------------- */

.section-tours {
  background-color: $color-grey-light-1;
  margin-top: -12vh;
}

.card {
  // To make the perspective view when rotating the element
  // https://www.w3schools.com/cssref/css3_pr_perspective.asp
  perspective: 150rem;
  position: relative;

  &__side {
    height: 50rem;
    transition: 0.5s;
    // To hide the card rotating by hiding the backside of the element
    // https://www.w3schools.com/cssref/css3_pr_backface-visibility.asp
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-grey-dark, 0.2);
    overflow: hidden;

    &--front {
      background-color: $color-white;
      position: relative;
    }

    &--back {
      transform: rotateY(180deg);
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;

      &--1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &--2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &--3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:not(:last-child) {
    margin-right: 6rem;
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    height: 40%;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary-light, 0.6),
          rgba($color-secondary-dark, 0.6)
        ),
        url("../img/nat-5-min.jpg");
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-light, 0.6),
          rgba($color-primary-dark, 0.6)
        ),
        url("../img/nat-6-min.jpg");
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-tertiary-light, 0.6),
          rgba($color-tertiary-dark, 0.6)
        ),
        url("../img/nat-7-min.jpg");
    }
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 300;
    color: #fff;
    position: absolute;
    right: 1rem;
    top: 13rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;

    &--1 {
      background-color: rgba($color-secondary-dark, 0.65);
    }

    &--2 {
      background-color: rgba($color-primary-dark, 0.65);
    }

    &--3 {
      background-color: rgba($color-tertiary-dark, 0.65);
    }
  }

  &__details {
    margin: 1.5rem auto 0;
    text-align: center;
    list-style: none;
    width: 80%;
  }

  &__item {
    padding: 1rem;
    font-size: 1.5rem;

    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }

  &__action-box {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-white;
  }

  &__text {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price {
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 8rem;
  }

  &__btn {
    text-align: center;
  }
}

/* -------------------------- */
/* Section-stories Styles */
/* -------------------------- */

.section-stories {
  margin-top: -10vh;
  position: relative;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  opacity: 0.2;

  &__content {
    // https://www.w3schools.com/css/css3_object-fit.asp
    object-fit: cover;
    height: 100%;
  }
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-grey-dark, 0.2);
  border-radius: 3px;
  padding: 6rem;
  transform: skewX(-10deg);
  background-color: rgba($color-white, 0.6);

  &:not(:last-child) {
    margin-bottom: 7rem;
  }

  .paragraph {
    margin-left: 16rem;
  }

  &__caption {
    text-transform: uppercase;
    color: $color-white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.5s;
    font-size: 1.7rem;
  }

  & > * {
    transform: skewX(10deg);
  }

  &__img-box {
    width: 13rem;
    height: 13rem;
    float: left;
    border-radius: 100px;
    margin-top: -1rem;
    margin-right: 2rem;
    overflow: hidden;
    position: relative;
  }

  &__img {
    height: 100%;
    transform: translateX(-15%) scale(1.4);
    transition: 0.5s;
    backface-visibility: hidden;
  }

  &:hover {
    .story__img {
      transform: translateX(-15%) scale(1);
      // https://developer.mozilla.org/en-US/docs/Web/CSS/filter
      filter: blur(3px) brightness(0.8);
    }

    .story__caption {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  &__btn {
    text-align: center;
  }
}

/* -------------------------- */
/* Section-booking Styles */
/* -------------------------- */

.section-booking {
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  .heading-secondary {
    margin-bottom: 3rem;
  }
}

.book {
  background: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url("../img/nat-10-min.jpg") center/cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-grey-dark, 0.5);

  &__form {
    width: 50%;
    padding: 6rem;
  }
}

.form {
  &__group {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 3rem;
    }
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none;
    background-color: rgba($color-white, 0.5);
    outline: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    color: inherit;

    &:focus {
      box-shadow: 0 1rem 2rem rgba($color-grey-dark, 0.3);

      &:invalid {
        border-bottom-color: $color-secondary-dark;
      }

      &:valid {
        border-bottom-color: $color-primary;
      }
    }
  }

  &__label {
    display: block;
    margin-top: 0.7rem;
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    transition: 0.3s;
  }

  // https://developer.mozilla.org/en-US/docs/Web/CSS/:placeholder-shown
  &__input:placeholder-shown + &__label {
    transform: translateY(-4rem);
    opacity: 0;
  }

  &__radio {
    margin-right: 0.5rem;
    vertical-align: middle;
  }

  &__radio-label {
    margin-right: 1.5rem;
    vertical-align: middle;
    font-weight: 700;
  }
}

/* -------------------------- */
/* Footer Styles */
/* -------------------------- */

.footer {
  background-color: $color-grey-dark-2;
  padding: 10rem;
  font-size: 1.4rem;
  color: $color-grey-light-1;

  .grid {
    justify-content: space-between;
  }

  &__logo {
    width: 15rem;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__nav,
  &__copyright {
    border-top: 1px solid $color-grey-light-1;
    padding-top: 1.5rem;
  }

  &__item {
    display: inline-block;
    list-style: none;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__link {
    text-transform: uppercase;
    color: $color-grey-light-1;
    transition: 0.2s;

    &:hover {
      color: $color-primary;
    }
  }
}

/* -------------------------- */
/* Popup Styles */
/* -------------------------- */

.pop-up {
  width: 100%;
  height: 100vh;
  background-color: rgba($color-black, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;

  &__content {
    @include absCenter;
    width: 75vw;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-grey-dark, 0.3);
    border-radius: 3px;
    overflow: hidden;
    position: relative;
  }

  &__close {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 3rem;
    cursor: pointer;
  }

  &__gallery {
    flex-basis: 30%;
    flex-direction: column;
  }

  &__img {
    flex: 1;
    width: 100%;
    float: left;
  }

  &__text {
    padding: 10rem 6rem;
    flex-basis: 70%;

    .heading-secondary {
      text-align: left;
      margin-bottom: 2rem;
    }
  }

  &__paragraph {
    .paragraph:first-child {
      margin-right: 4rem;
      margin-bottom: 4rem;
    }
  }
}
