// -----------------------------
// Variables
// -----------------------------
$color-white: #fff;
$color-grey-light: #f7f7f7;
$color-grey: #ccc;
$color-grey-dark: #777;
$color-black-light: #333;
$color-black: #111;

$color-primary-light: #7ed56f;
$color-primary: #55c57e;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary: #fd7a0f;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2a97ff;
$color-tertiary: #406dfc;
$color-tertiary-dark: #5644fa;

$padding-top-bottom: 25rem;

// -----------------------------
// Mixin
// -----------------------------
@mixin bg-style(
  $url,
  $color-light: $color-primary-light,
  $color-dark: $color-primary-dark,
  $opacity: 0.8
) {
  background: linear-gradient(
      to right bottom,
      rgba($color-light, $opacity),
      rgba($color-dark, $opacity)
    ),
    url($url) center/cover;
}

@mixin heading-style($size, $space) {
  font-size: $size;
  letter-spacing: $space;
  display: inline-block;
}

@mixin anchor-style($transform: uppercase) {
  text-decoration: none;
  display: inline-block;
  text-transform: $transform;
}

@mixin container-style($padding: 25rem) {
  width: 70%;
  max-width: 1600px;
  padding: $padding 0;
  margin: auto;
}

@mixin flex-style() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin center-style() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin animated-shadow-style($up: -2px, $shadow: 0 6px 15px) {
  box-shadow: $shadow rgba($color-grey-dark, 0.6);
  transform: translateY($up);
}

@mixin shadow-style($color: $color-grey) {
  box-shadow: 0 5px 30px $color;
}

@mixin animation-timing($time: 0.2s) {
  transition: $time linear;
}

@mixin text-gradient() {
  background-image: linear-gradient(
    120deg,
    $color-primary-light,
    $color-primary-dark
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@mixin absCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// -----------------------------
// Global Styles
// -----------------------------
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  color: $color-white;
  background-color: $color-primary;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: $color-grey-dark;
  font: 1.6rem "Lato", sans-serif;
  padding: 2.5rem;
}

// -----------------------------
// Utility Styles
// -----------------------------
.btn {
  font-weight: 700;
  padding: 1.5rem 2.7rem;
  border-radius: 50px;
  position: relative;
  z-index: 1;
  @include anchor-style();
  @include animation-timing();

  &--white {
    color: $color-grey-dark;
    background-color: $color-white;

    &::before {
      background-color: $color-white;
    }
  }

  &--green {
    border: none;
    background-color: $color-primary;
    color: $color-white;

    &::before {
      background-color: $color-primary;
    }
  }

  &--pop-up {
    border: none;
    font-weight: 300;
    cursor: pointer;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50px;
    z-index: -1;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    @include animation-timing(0.3s);
  }

  &:hover {
    @include animated-shadow-style();

    &::before {
      transform: scale(2);
      opacity: 0;
    }
  }
}

.link {
  color: $color-primary;
  padding: 1.3rem 1rem;
  border-bottom: solid 1px;
  font-size: 1.8rem;
  @include anchor-style(none);
  @include animation-timing();

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    border-bottom-color: $color-primary;
    @include animated-shadow-style(-3px);
  }
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 5rem;

  &__main {
    font-weight: 400;
    margin-bottom: 1rem;
    animation-name: slide-right;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    @include heading-style(5.5rem, 3.5rem);
  }

  &__sub {
    word-spacing: 0.8rem;
    animation: slide-left 1s linear forwards;
    @include heading-style(2rem, 1.6rem);
  }
}

.heading-secondary {
  text-transform: uppercase;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 8rem;
  letter-spacing: 0.2rem;
  @include text-gradient();

  &--left {
    text-align: left;
    margin-bottom: 4.5rem;
  }
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.paragraph {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 2.5rem;

  &--no-margin {
    margin: 0;
  }
}
