* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background-color: #55c57e;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #777;
  font: 1.6rem "Lato", sans-serif;
  padding: 2.5rem;
}

.btn {
  font-weight: 700;
  padding: 1.5rem 2.7rem;
  border-radius: 50px;
  position: relative;
  z-index: 1;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  transition: 0.2s linear;
}
.btn--white {
  color: #777;
  background-color: #fff;
}
.btn--white::before {
  background-color: #fff;
}
.btn--green {
  border: none;
  background-color: #55c57e;
  color: #fff;
}
.btn--green::before {
  background-color: #55c57e;
}
.btn--pop-up {
  border: none;
  font-weight: 300;
  cursor: pointer;
}
.btn::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50px;
  z-index: -1;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s linear;
}
.btn:hover {
  box-shadow: 0 6px 15px rgba(119, 119, 119, 0.6);
  transform: translateY(-2px);
}
.btn:hover::before {
  transform: scale(2);
  opacity: 0;
}

.link {
  color: #55c57e;
  padding: 1.3rem 1rem;
  border-bottom: solid 1px;
  font-size: 1.8rem;
  text-decoration: none;
  display: inline-block;
  text-transform: none;
  transition: 0.2s linear;
}
.link:hover {
  background-color: #55c57e;
  color: #fff;
  border-bottom-color: #55c57e;
  box-shadow: 0 6px 15px rgba(119, 119, 119, 0.6);
  transform: translateY(-3px);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.heading-primary__main {
  font-weight: 400;
  margin-bottom: 1rem;
  animation-name: slide-right;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  font-size: 5.5rem;
  letter-spacing: 3.5rem;
  display: inline-block;
}
.heading-primary__sub {
  word-spacing: 0.8rem;
  animation: slide-left 1s linear forwards;
  font-size: 2rem;
  letter-spacing: 1.6rem;
  display: inline-block;
}

.heading-secondary {
  text-transform: uppercase;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 8rem;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(120deg, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.heading-secondary--left {
  text-align: left;
  margin-bottom: 4.5rem;
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.paragraph {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 2.5rem;
}
.paragraph--no-margin {
  margin: 0;
}

.btn-nav {
  box-shadow: 0 1rem 3rem rgba(119, 119, 119, 0.3);
  background-color: #fff;
  width: 6rem;
  height: 6rem;
  border: none;
  border-radius: 100px;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 1;
  cursor: pointer;
}
.btn-nav__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  background-color: #333;
  height: 2px;
  width: 3.1rem;
}
.btn-nav__icon::after, .btn-nav__icon::before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #333;
  position: absolute;
  left: 0;
}
.btn-nav__icon::before {
  top: -0.9rem;
}
.btn-nav__icon::after {
  top: 0.9rem;
}
.btn-nav__icon--transparent {
  background-color: transparent;
}
.btn-nav__icon--transparent::before {
  top: 0;
  transform: rotate(45deg);
}
.btn-nav__icon--transparent::after {
  top: 0;
  transform: rotate(-45deg);
}

.navigation__list {
  position: fixed;
  top: 13rem;
  right: 5rem;
  z-index: 2;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s;
  background-color: rgba(85, 197, 126, 0.8);
}
.navigation__list--show {
  max-height: 50rem;
}
.navigation__item {
  text-transform: uppercase;
  text-align: center;
  transition: 0.2s;
}
.navigation__item:hover .navigation__link {
  background-position: 100%;
  color: #55c57e;
}
.navigation__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  word-spacing: 5px;
  font-size: 2.2rem;
  font-weight: 300;
  width: 30rem;
  transition: 0.2s;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
  background-size: 220%;
}

.header {
  height: 95vh;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero-min.jpg") center/cover;
}

.logo {
  margin: 4rem 0 0 4rem;
  display: inline-block;
  width: 8rem;
}
.logo__img {
  width: 100%;
}

.hero-box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn--slide-up {
  animation: slide-up 0.7s 1s linear both;
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-8rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(8rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(6rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.section-info {
  background-color: #f7f7f7;
  margin-top: -20vh;
  padding: 25rem 0;
}
.section-info__container {
  width: 70%;
  max-width: 1600px;
  padding: 0 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-box {
  flex-basis: 50%;
}

.gallery {
  flex-basis: 50%;
  height: 33rem;
  max-width: 750px;
  position: relative;
}
.gallery__img {
  width: 50%;
  position: absolute;
  border-radius: 2px;
  transition: 0.2s linear;
  box-shadow: 0 5px 30px #777;
}
.gallery__img--1 {
  top: -1rem;
  left: 5rem;
}
.gallery__img--2 {
  top: 4rem;
  left: 30rem;
}
.gallery__img--3 {
  top: 11rem;
  left: 17rem;
}
.gallery__img:hover {
  z-index: 1;
  transform: scale(1.1) translateY(-2%);
  outline: solid 1.5rem #55c57e;
  outline-offset: 1.5rem;
  box-shadow: 0 5px 30px #777;
}

.section-features {
  transform: skewY(-5deg);
  margin-top: -15vh;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4-min.jpg") center/cover;
}
.section-features__list {
  transform: skewY(5deg);
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  max-width: 1600px;
  padding: 20rem 0;
  margin: auto;
  align-items: stretch;
  flex-wrap: wrap;
}

.text-card {
  flex-basis: 22%;
  background-color: #fff;
  opacity: 0.8;
  padding: 3rem;
  border-radius: 2px;
  text-align: center;
  transition: 0.2s linear;
  box-shadow: 0 5px 30px #777;
}
.text-card:hover {
  box-shadow: 0 9px 25px #777 rgba(119, 119, 119, 0.6);
  transform: translateY(-4px);
}
.text-card__icon {
  font-size: 4.7rem;
  margin-bottom: 2rem;
  background-image: linear-gradient(120deg, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 16rem;
  margin-top: -13vh;
}
.section-tours__container {
  width: 70%;
  max-width: 1600px;
  padding: 0 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-tours__btn-container {
  margin-top: 6rem;
  text-align: center;
}

.card {
  flex-basis: 29%;
  height: 40rem;
  border-radius: 2px;
  position: relative;
  perspective: 1000px;
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
  z-index: 1;
}
.card__side {
  height: 100%;
  border-radius: 2px;
  backface-visibility: hidden;
  transition: 0.5s linear;
  box-shadow: 0 5px 30px #ccc;
}
.card__side--front {
  position: relative;
  background-color: #fff;
}
.card__side--back {
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  transform: rotateY(-180deg);
}
.card__side--back-1 {
  background: linear-gradient(to right bottom, #ffb900, #ff7730), url("a") center/cover;
}
.card__side--back-2 {
  background: linear-gradient(to right bottom, #7ed56f, #28b485), url("a") center/cover;
}
.card__side--back-3 {
  background: linear-gradient(to right bottom, #2a97ff, #5644fa), url("a") center/cover;
}
.card__img {
  height: 40%;
  border-radius: 2px 2px 0 0;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  filter: contrast(110%);
}
.card__img--orange {
  background: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)), url("../img/nat-5-min-min.jpg") center/cover;
}
.card__img--green {
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-6-min-min.jpg") center/cover;
}
.card__img--blue {
  background: linear-gradient(to right bottom, rgba(42, 151, 255, 0.8), rgba(86, 68, 250, 0.8)), url("../img/nat-7-min-min.jpg") center/cover;
}
.card__heading {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem;
  position: absolute;
  top: 27%;
  right: 2%;
  color: #fff;
}
.card__heading--orange {
  background-color: rgba(253, 122, 15, 0.6);
}
.card__heading--green {
  background-color: rgba(85, 197, 126, 0.6);
}
.card__heading--blue {
  background-color: rgba(64, 109, 252, 0.6);
}
.card__list {
  list-style: none;
  height: 61%;
  padding: 2.5rem 3rem 5.5rem;
  font-size: 1.3rem;
  text-align: center;
}
.card__item:not(:last-of-type) {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1.5px solid #f7f7f7;
}
.card__text {
  text-transform: uppercase;
  font-weight: 400;
}
.card__price {
  font-size: 6rem;
  font-weight: 100;
  margin: 1rem 0 8rem;
}

.section-testimonials {
  padding: 15rem 0;
  position: relative;
}
.section-testimonials__container {
  width: 70%;
  max-width: 1600px;
  padding: 0 0;
  margin: auto;
}
.section-testimonials__link-container {
  text-align: center;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-card {
  position: relative;
  width: 80%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4.5rem 5rem;
  margin-bottom: 4rem;
  border-radius: 2px;
  transform: skewX(-7deg);
  box-shadow: 0 5px 30px #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
.img-card > * {
  transform: skewX(7deg);
}
.img-card:hover .img-card__img {
  transform: scale(1.1);
  filter: brightness(80%) blur(2px);
}
.img-card:hover .img-card__author {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.img-card__img-box {
  flex-basis: 7vw;
  height: 7vw;
  max-width: 200px;
  min-width: 109px;
  min-height: 109px;
  max-height: 200px;
  border-radius: 200px;
  overflow: hidden;
}
.img-card__img {
  width: 100%;
  height: 100%;
  transform: scale(1.3);
  object-fit: cover;
  transition: 0.2s linear;
}
.img-card__text-box {
  flex-basis: 79%;
}
.img-card__author {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s linear;
  transform: translate(-50%, 100%);
  opacity: 0;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.7rem;
}

.section-contact {
  background: linear-gradient(to right bottom, #7ed56f, #28b485), url("") center/cover;
  padding: 15rem 0;
}
.section-contact__container {
  width: 70%;
  max-width: 1600px;
  padding: 0 0;
  margin: auto;
  border-radius: 2px;
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) 48%, transparent 48%), url("../img/nat-10-min-min.jpg") center/cover;
}
.section-contact__form {
  width: 50%;
  padding: 8rem 0 8rem 6rem;
}
.section-contact__form-row:not(:last-of-type) {
  margin-bottom: 1.5rem;
}
.section-contact__form-row:last-of-type {
  margin-bottom: 3rem;
}
.section-contact__input:placeholder-shown ~ .section-contact__label {
  transform: translateY(-235%);
  opacity: 0;
}
.section-contact__input {
  padding: 1.5rem 1.5rem 1.2rem;
  width: 80%;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: solid transparent 3px;
}
.section-contact__input:focus {
  box-shadow: 0 5px 30px #ccc;
}
.section-contact__input:focus:invalid {
  border-bottom-color: #fd7a0f;
}
.section-contact__input:focus:valid {
  border-bottom-color: #55c57e;
}
.section-contact__input::placeholder {
  font-size: 1.55rem;
}
.section-contact__label {
  transition: 0.3s linear;
  display: inline-block;
  text-transform: capitalize;
}
.section-contact__label:not(.section-contact__label--large) {
  margin: 1rem 0 0 1.5rem;
}
.section-contact__label--large {
  font-weight: 700;
  margin: 0 1.5rem 0 0.5rem;
}

.footer {
  background-color: #333;
  padding: 8rem 0;
}
.footer__img-container {
  text-align: center;
  margin-bottom: 8rem;
}
.footer__text-container {
  width: 70%;
  max-width: 1600px;
  padding: 0 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__text-container > * {
  border-top: solid 1px #fff;
  padding-top: 1.5rem;
  font-size: 1.4rem;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 42%;
  min-width: 360px;
  max-width: 550px;
}
.footer__link {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  transition: 0.2s linear;
  color: #fff;
}
.footer__link:hover {
  color: #55c57e;
}
.footer__copyright {
  color: #fff;
}

.section-pop-up {
  width: 100%;
  height: 100vh;
  background-color: rgba(17, 17, 17, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
}
.section-pop-up__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(119, 119, 119, 0.3);
  border-radius: 2px;
  align-items: stretch;
}
.section-pop-up__btn-close {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 3.5rem;
  cursor: pointer;
}
.section-pop-up__gallery {
  flex-basis: 30%;
}
.section-pop-up__img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  float: left;
}
.section-pop-up__text-container {
  padding: 10rem 6rem;
  flex-basis: 70%;
}

/* 2500px ~ */
/* XL 4k TV */
@media only screen and (min-width: 2450px) {
  html {
    font-size: 75%;
  }
  .section-features {
    margin-top: -10vh;
  }
  .section-tours {
    padding-top: 30rem;
  }
  .card {
    height: 45rem;
  }
}
/* 1920px */
/* Default Styles */
/* 1324px ~ 1728px */
/* L Mobile Large Laptop & Small Desktop */
@media only screen and (max-width: 1728px) {
  html {
    font-size: 60%;
  }
  .gallery__img--2 {
    left: 23rem;
  }
  .gallery__img--3 {
    left: 13rem;
  }
  .footer__list {
    width: 46%;
  }
}
/* 848px ~ 1323px */
/* M Mobile Tablet Landscape & Small Laptop */
@media only screen and (max-width: 1323px) {
  html {
    font-size: 57%;
  }
  .section-info {
    padding-top: 30rem;
  }
  .section-info__container {
    flex-direction: column;
  }
  .gallery__img {
    position: relative;
    width: 38%;
  }
  .gallery__img--1 {
    top: 5rem;
    left: 11rem;
  }
  .gallery__img--2 {
    top: 9rem;
    left: 5rem;
  }
  .gallery__img--3 {
    top: 0;
    left: 20rem;
  }
  .section-features__list {
    gap: 5rem;
    justify-content: center;
  }
  .text-card {
    flex-basis: 40%;
  }
  .section-contact__container {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/nat-10.jpg);
  }
  .section-contact__form {
    width: 90%;
  }
  .section-contact__input {
    width: 66%;
  }
  .footer__text-container {
    flex-direction: column;
    gap: 3rem;
  }
  .footer__list {
    width: 70%;
  }
}
/* 403px ~ 847px */
/* S Mobile Landscape and Table Portrait */
@media only screen and (max-width: 847px) {
  html {
    font-size: 50%;
  }
  body {
    padding: 0;
  }
  .btn-nav {
    top: 3rem;
    right: 4rem;
  }
  .navigation__list {
    top: 10rem;
  }
  .header {
    clip-path: none;
  }
  .heading-primary__main {
    letter-spacing: 2.5rem;
  }
  .heading-primary__sub {
    letter-spacing: 1rem;
    word-spacing: 0.7rem;
  }
  .section-info {
    padding: 38rem 0;
  }
  .gallery__img--1 {
    top: 5rem;
    left: 5rem;
  }
  .gallery__img--2 {
    top: 10rem;
    left: 6rem;
  }
  .gallery__img--3 {
    top: 6rem;
    left: 5rem;
  }
  .section-features {
    transform: skewY(0);
  }
  .section-features__list {
    transform: skewY(0);
    flex-direction: column;
    align-items: center;
  }
  .text-card {
    width: 70%;
  }
  .section-tours__container {
    flex-direction: column;
    gap: 5rem;
  }
  .card {
    height: auto;
    width: 50%;
    min-width: 282px;
    border-radius: 2px;
    box-shadow: 0 5px 30px #ccc;
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card:hover .card__side--back {
    transform: rotateY(0);
  }
  .card__img {
    height: 17rem;
  }
  .card__side {
    backface-visibility: visible;
    height: auto;
    box-shadow: none;
  }
  .card__side--front {
    border-radius: 2px 2px 0 0;
  }
  .card__side--back {
    position: static;
    transform: rotateY(0);
    padding: 2rem 0;
    border-radius: 0 0 2px 2px;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    margin-top: -3rem;
  }
  .card__price {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .img-card {
    width: 100%;
    transform: skewX(0deg);
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  .img-card__img-box {
    width: 11vw;
  }
  .img-card > * {
    transform: skewX(0);
  }
  .section-contact__form {
    width: 100%;
    padding: 3rem;
  }
  .section-contact__input {
    width: 80%;
  }
  .section-pop-up__container {
    flex-direction: column;
  }
  .section-pop-up__img {
    width: 50%;
    height: 30rem;
  }
}
/* 0 ~ 402px */
/* XS Mobile Portrait */
@media only screen and (max-width: 402px) {
  html {
    font-size: 47%;
  }
  .heading-primary__main {
    letter-spacing: 1.8rem;
  }
  .heading-primary__sub {
    letter-spacing: 0.7rem;
    word-spacing: 0.5rem;
  }
  .text-card {
    width: 100%;
  }
  .section-pop-up__gallery {
    display: none;
  }
}
@media only screen and (min-width: 960px) and (min-resolution: 192dpi), (min-width: 1920px) {
  .header {
    background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg") center/cover;
  }
  .section-features {
    background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg") center/cover;
  }
}
@media only screen and (min-width: 1075px) and (min-resolution: 192dpi), (min-width: 2150px) {
  .card__img--orange {
    background: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)), url("../img/nat-5-large-min.jpg") center/cover;
  }
  .card__img--green {
    background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-6-large-min.jpg") center/cover;
  }
  .card__img--blue {
    background: linear-gradient(to right bottom, rgba(42, 151, 255, 0.8), rgba(86, 68, 250, 0.8)), url("../img/nat-7-large-min.jpg") center/cover;
  }
}
@media only screen and (min-width: 1140px) and (max-width: 1323px) and (min-resolution: 192dpi) {
  .section-contact__container {
    background: linear-gradient(105deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/nat-10-large-min.jpg") center/cover;
  }
}
@media only screen and (min-width: 1324px) and (min-resolution: 192dpi) {
  .section-contact__container {
    background: linear-gradient(105deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) 48%, transparent 48%), url("../img/nat-10-large-min.jpg") center/cover;
  }
}
@media only screen and (min-width: 2280px) {
  .section-contact__container {
    background: linear-gradient(105deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) 48%, transparent 48%), url("../img/nat-10-large-min.jpg") center/cover;
  }
}

/*# sourceMappingURL=styles.css.map */
